$headerBg: #131730;
$bgBody: #1A1A1A;
$bdModal: #FFFFFF1F;
$btnConfirmBg: #907FF0;
$btnCancelBg: #FFFFFF1F;
$fontColor: #FFFFFFD9;
$calculatorBg: #000;
$calculatorFont: #fff;
$btnBg: #333;
$btnOrange:#FF8C00;
$btnGray: #D3D3D3;
$specialActive:#fff;
$borderInput: #708090;
$dividerBg: #323963;
$menuTitle: #c4c4c4;
$active: #5be45b;
$listHeaderBg: #212648;
$menuBg: #0e0d4a;